<%= form_with(model: dependent, local: true) do |form| %>
  <% if dependent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dependent.errors.count, "error") %> prohibited this dependent from being saved:</h2>

      <ul>
        <% dependent.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :relationship %>
    <%= form.collection_select :relationship, [:mother, :father], :to_s, :to_s, include_blank: false %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :blood_group %>
    <%= form.text_field :blood_group %>
  </div>

  <div class="field">
    <%= form.label :date_of_birth %>
    <%= form.date_select :date_of_birth, include_blank: true, start_year: Date.today.year-200, end_year: Date.today.year %>
  </div>


  <div class="field">
    <%= form.label :weight %>
    <%= form.text_field :weight %>
  </div>

  <div class="field">
    <%= form.label :height %>
    <%= form.text_field :height %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
